<% for(var j = 0;j<data.length;j++){%>
        <label class="checkbox inline" style="margin-left: 10px">
            <input   onclick="" id="<%=data[j].id%>" type="checkbox" value="<%=data[j].id%>" name="groups"><%=data[j].name%>
        </label>
    
<%}%>
